@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  src: local("Arimo"), url("http://themes.googleusercontent.com/static/fonts/arimo/v6/wZLYhRRxZWGToTRP78bqJQ.woff") format("woff");
}

body{
	background:	#556985;

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arimo",arial,verdana,sans-serif;
}